:root {
  --fontColor: #985b2d;
  --optionFont: Courier New, monospace;
  --menuItemColor: #2e2e2e;
  --descFont: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --descColor: #977d62;
}

body {
  font-family: sans-serif;
  background-color: #ecdfcd;
}

body header h1 {
  font-family: Andale Mono, monospace;
  color: var(--fontColor);
  text-align: center;
  text-transform: uppercase;
}

main {
  display: flex;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-color: var(--fontColor);
  width: 600px;
}

main ul {
  list-style-type: upper-roman;
}
/*Starter List*/
#starters > h2 {
  font-family: var(--optionFont);
  color: var(--fontColor);
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--fontColor);
}
.starters-list > h2 {
  font-family: palatino;
  font-size: 20px;
  color: var(--menuItemColor);
}
.starters-list > h3 {
  margin-top: -10px;
  font-size: 15px;
  font-family: palatino;
}
.starters-list > p {
  color: var(--descColor);
  font-family: var(--descFont);
  font-size: 12px;
}
/*Pasta List*/
#pasta > h2 {
  font-family: var(--optionFont);
  color: #985b2d;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--fontColor);
}
.pasta-list > p {
  color: var(--descColor);
  font-family: var(--descFont);
  font-size: 12px;
}
.pasta-list > h2 {
  font-family: palatino;
  font-size: 20px;
  color: var(--menuItemColor);
}
.pasta-list > h3 {
  margin-top: -10px;
  font-size: 15px;
  font-family: palatino;
}
/*Pizza List*/
#pizza > h2 {
  font-family: var(--optionFont);
  color: #985b2d;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--fontColor);
}
.pizza-list > p {
  color: var(--descColor);
  font-family: var(--descFont);
  font-size: 12px;
}

.pizza-list > h2 {
  font-family: palatino;
  font-size: 20px;
  color: var(--menuItemColor);
}
.pizza-list > h3 {
  margin-top: -10px;
  font-family: palatino;
  font-size: 15px;
}

.spicy {
  display: inline;
  font-family: var(--optionFont);
}
.spicy:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url("../assets/spicy.svg");
  background-repeat: no-repeat;
  display: inline-block;
  padding-right: 3px;
  position: relative;
  top: 2px;
}
